* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-background: rgb(59, 59, 59);
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  place-content: center;
}
nav {
  width: 400px;
  height: 400px;
  background-color: rgb(155, 73, 250);
}
nav ul {
  background-color: var(--main-background);
  height: 15%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  place-content: center space-around;
}
ul li {
  list-style: none;
  color: white;
}
#wave {
  /* transform: rotate(10deg); */
  fill: var(--main-background);
}
